.menuicon {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 10px;
  margin-top: -10px;
  flex: 1;
}

#pagename {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.9;
}
.opennav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 238, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.opennav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.userinfo {
  background-color: rgb(255, 0, 0);
  height: 150px;
  text-align: left;
  font-size: auto;
}

#profilebtn {
  font-size: 15px;
  margin-top: -10px;
}

#profilebox-navbar {
  padding: 10px;
}

.profilecontent-navbar {
  margin-top: 20px;
}
.profileimg {
  width: 130px;
  height: 130px;
  float: left;
  border-radius: 100px;
  padding: 10px;
}

.searchicon {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin-top: -10px;
  flex: 1;
}

.icon {
  width: 80px;
  height: 80px;
  margin-left: -55px;
  margin-top: 4px;
  border-radius: 100px;
  padding: 10px;
  flex: 1;
}

.icon1 {
  width: 80px;
  height: 80px;
  margin-left: 5px;
  margin-top: 4px;
  border-radius: 100px;
  padding: 10px;
  flex: 1;
}
.icon2 {
  width: 80px;
  height: 80px;
  margin-left: -70px;
  border-radius: 100px;
  padding: 10px;
  flex: 1;
}
.icon3 {
  width: 80px;
  height: 80px;
  margin-right: -60px;
  border-radius: 100px;
  padding: 10px;
  flex: 1;
}

.navbaricons {
  width: 80px;
  height: 80px;
  margin-left: -30px;
  padding: 10px;
}

#navbartext1 {
  font-size: 18px;
}

#navbartext2 {
  font-size: 20px;
}

#navbartext3 {
  font-size: 20px;
}

#navbartext4 {
  font-size: 20px;
}

#navbartext5 {
  font-size: 20px;
}

#navbartext6 {
  font-size: 20px;
}

.navbar2 {
  margin-top: -1px;
  margin-left: -34.5px;
}

.center {
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}
.background {
  background-color: bisque;
}
