#menuicon {
  margin-left: 10px;
  font-size: 50px;
}

.opennav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.opennav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.userinfo {
  background-color: rgb(255, 0, 0);
  height: 150px;
  text-align: left;
  font-size: auto;
}

#profilebtn {
  font-size: 15px;
  margin-top: -10px;
}

#profilebox-navbar {
  padding: 10px;
}

.profilecontent-navbar {
  margin-top: 20px;
}
.profileimg {
  width: 130px;
  height: 130px;
  float: left;
  border-radius: 100px;
  padding: 10px;
}
